<h1>Product List</h1>
<div class="productContainer">
    {{#each products}}
        <div class="productCard">
            <h3 id=`${{{this.id}}}`>{{this.title}}</h3>
            <h4>{{this.description}}</h4>
            <p>Code: {{this.code}}</p>
            <p>Price: ${{this.price}}</p>
            <p>Stock: {{this.stock}}</p>
            <p>Category: {{this.category}}</p>
        </div>
    {{/each}}
</div>